.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
}
.card-body{
    padding: 20px 50px;
}