<div class="row ">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <!-- Title Column -->
                <div [ngClass]="isCompanyFilterVisible ? 'col-md-4' : 'col-md-6'">
                    <strong>Companies List</strong>
                </div>
                <!-- Company Filter (shown only if enabled) -->
                <div class="col-md-4 d-flex flex-row align-items-center" *ngIf="isCompanyFilterVisible">
                    <form class="d-flex" [formGroup]="form" (ngSubmit)="getCompanyList()">
                        <label for="char"><strong>CA Name</strong></label>
                        <div>
                            <select id="companyFilter" class="form-control form-control-sm ml-2" formControlName="ca"
                                [ngClass]="{ 'is-invalid': submitted && f.ca.errors }">
                                <option value="">-- Select CA --</option>
                                <option *ngFor="let comp of CaList" [value]="comp.Id">
                                    {{ comp.caName }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="bg-primary text-white rounded save"
                                [disabled]="form.invalid">Search</button>
                        </div>
                    </form>
                </div>
                <!-- Buttons Column -->
                <div [ngClass]="isCompanyFilterVisible ? 'col-md-4' : 'col-md-6 text-end'" class="text-end">
                    <a class="btn btn-primary  btn-sm me-md-2   " routerLink="/register" role="button"><i
                            class="fa fa-plus" aria-hidden="true"></i> New</a>
                    <!-- <a class="btn btn-primary  btn-sm  me-md-2 text-white  float-end" (click)="open_fileUpload()"
                        role="button"><i class="fa fa-arrow-down" aria-hidden="true"></i> Import
                    </a> -->
                    <a class="btn btn-primary  btn-sm  me-md-2 text-white  float-end" (click)="open_fileUpload()"
                        role="button"><i class="fa fa-arrow-up" aria-hidden="true"></i>
                        Excel</a>
                    <a class="btn btn-primary btn-sm me-2 text-white" role="button" (click)="toggleCompanyFilter()">
                        <i class="fa-solid fa-filter"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="card-body table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table   table-hover"
                        id="bankTable">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Company Name</th>
                                <th>Contact Person</th>
                                <th>Contact Number</th>
                                <th>Email id</th>
                                <th>Established On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="company_list?.length != 0">
                            <tr *ngFor="let item of company_list;let i=index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.CompanyName }}</td>
                                <td>{{ item.ContactPerson }}</td>
                                <td>{{ item.MobileNumber }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.EstablishedDate.value | date:'dd-MM-yyyy' }}</td>
                                <td>
                                    <button class="btn btn-sm " type="button" data-toggle="tooltip" cls
                                        data-placement="top" (click)="updateCompany(i)" title="Edit"><i
                                            class="bi bi-pencil-square text-success"></i></button>
                                    <button class="btn  btn-sm " type="button" data-toggle="tooltip"
                                        data-placement="top" (click)="deleteCompany(item.Id)" title="Delete"><i
                                            class="bi bi-trash3-fill text-danger"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="company_list?.length == 0">
                            <tr>
                                <td colspan="12" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>