<!-- About Start -->
<h1 style="text-align: center;" class="section-title text-center position-relative pb-3 mb-5 mx-auto"
  style="max-width: 600px;">Suport</h1>
<div class="container overflow-hidden py-3 px-lg-0">
  <div class="container about py-3 px-lg-0">
    <div class="row g-4">
      <div class="col-lg-7 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px ;">
        <div class="position-relative h-100 about">
          <img class="position-absolute img-fluid w-100 h-100" src="assets/img/ng_logo.png"
            style="object-fit: container; padding: 5px; " alt="">
        </div>
      </div>
      <div class="col-lg-5 px-lg-20 about-text wow fadeInUp" data-wow-delay="0.3s">
        <h1 class="mb-5"></h1>
        <p class="mb-5">
          NG Info Solutions makes it fast and easy for businesses to delight their customers and employees. We do this
          by taking a fresh approach to building and delivering software-as-a-service that’s affordable, quick to
          implement, and designed for the end-user. Unlike legacy software, NG Info Solutions builds tech that works for
          everyone, making it easy for IT, customer service, sales, marketers and HR to do their job and delight their
          customers.
          We Managed Services includes high quality, end-to-end IT infrastructure solutions to cost-effectively manage
          your IT operations efficiently. We Asset Management Services provides innovative technology support solutions.
        </p>
      </div>
      <p>NG Info Solutions provides new, cost-effective and cutting-edge IT infrastructure solutions that are reliable,
        resilient and responsive.</p>

      <p>NG Info Solutions Support Services ensures that the functioning of your systems is optimized with end user
        support and data center management. NG Info Solutions System Integration Services includes cutting edge
        solutions to install and integrate hardware and software to manage complex IT implementation projects
        successfully</p>
      <p><b>Mission :</b> We believe in creating an inclusive & diverse work environment that would prove as platform
        for professionals who are motivated, innovative and prepared to excel.</p>
      <p><b>Vision :</b> Integrity, Reliability & Collaboration are the key values of N Information Technologies.</p>
      <p><b>Support :</b> Scaling your team to provide assistance around the clock might sound like a mammoth task.
        However, with a step-by-step guide, you can incorporate a 24/7 support model in no time. That’s why we’ve put
        together this comprehensive guide on setting up 24/7 customer service. </p>
    </div>
  </div>
</div>

<!-- About End -->