<div class="container-fluid">
  <div class="row d-flex flex-row justify-content-between align-items-center">
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Openings Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">New Applicants Count </div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Probition Period Emp Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Current Employees Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Graduity Employees Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Exit Employees Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Notice Period Emp Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Today Active Emp Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Today Inactive Emp Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Assigned Tasks Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Completed Tasks Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
    <div class="col-xxl-3 col-lg-3 col-md-3">
      <div class="card slide  d-flex flex-column ">
        <div class="title">Pending Tasks Count</div>
        <div class="count text-end">00</div>
      </div>
    </div>
  </div>
</div>

<div class=" card mt-3">
  <div class="card-header d-flex flex-row justify-content-between align-items-center">
    <div class="left fw-bold">Monthly Attendance Summary</div>
    <div class="d-flex">
      <div class="right d-flex flex-row align-items-baseline">
        <label class="fw-semibold">Employee: </label> &nbsp;
        <select class="form-select w-auto" [(ngModel)]="selectedEmployee" (change)="onEmployeeChange()">
          <option *ngFor="let e of employees" [value]="e.id">{{ e.name }}</option>
        </select>
      </div>&nbsp;
      <button class="btn btn-primary btn-pill" routerLink="/hrm/bulk_attendance">Report</button>
    </div>
  </div>
  <div class="card mt-0 mb-0">
    <div class="d-flex align-items-center justify-content-between  " style="margin :5px 10px;">
      <div><strong>{{ viewDate | date: 'MMMM yyyy' }}</strong></div>
      <div class="ms-auto d-flex gap-2">
        <button class="btn btn-outline-secondary btn-sm" (click)="prevMonth()">Prev</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="today()">Current</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="nextMonth()">Next</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class=" table table-bordered text-center align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th *ngFor="let day of ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']">{{ day }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let i of [].constructor(calendarDays.length / 7); let rowIndex = index">
              <tr>
                <td *ngFor="let day of calendarDays.slice(rowIndex * 7, rowIndex * 7 + 7)"
                  [style.background-color]="getStatusColor(getEmployeeStatus(selectedEmployee!, day.date))"
                  style="height: 70px;">
                  <div class="fw-bold small">{{ day.date | date:'d' }}</div>
                  <small>{{ getEmployeeStatus(selectedEmployee!, day.date) }}</small>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <div class="bar-graph col-md-6  ">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" type="bar"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6"><app-leave-approvals></app-leave-approvals></div>
  <div class="col-lg-6"><app-advance-salary></app-advance-salary></div>
</div>
<app-employee-work-report></app-employee-work-report>