table {
    border-collapse: collapse;

    td {
        width: 14.28%;
        font-size: 12px;
        text-transform: capitalize;
    }
}

.bar-graph canvas {
    position: absolute;
    bottom: 0;
}

.slide {
    height: 100px;
    padding: 7px;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-image: -webkit-linear-gradient(#36a1ea, white);
    font-size: larger;
    margin-bottom:10px;
}