<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 d-flex flex-row align-items-center justify-content-between">
            <div class="card epfo">
                <a href="https://unifiedportal-emp.epfindia.gov.in/epfo/" target="-blank">
                    <div class="epfo">Employees' Provident Fund Organisation</div>
                    <div class="img"> <img src="../../../../assets/img/taxfiling/epfo.png" style="width: 100px;"
                            alt="EPFO"> </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-row align-items-center justify-content-between">
            <div class="card esic">
                <a href="https://portal.esic.gov.in/EmployerPortal/ESICInsurancePortal/Portal_Loginnew.aspx"
                    target="-blank">
                    <div class="esic">Employees' State Insurance Corporation</div>
                    <div class="img"><img src="../../../../assets/img/taxfiling/esic.png" style="width: 100px;"
                            alt="ESIC">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-row align-items-center justify-content-between">
            <div class="card pt">
                <a href="https://tgct.gov.in/tgpt_dealer/Returns/dealer_login.aspx" target="-blank">
                    <div class="pt">Professional Tax</div>
                    <div class="img"><img src="../../../../assets/img/taxfiling/pt.png" style="width: 125px;" alt="PT">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-row align-items-center justify-content-between">
            <div class="card gst">
                <a href="https://services.gst.gov.in/services/login" target="-blank">
                    <div class="gst">Goods and Service Tax</div>
                    <div class="img"><img src="../../../../assets/img/taxfiling/gst.png" style="width: 100px;" alt="PT">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-row align-items-center justify-content-between">
            <div class="card e-filing">
                <a href="https://eportal.incometax.gov.in/iec/foservices/#/login" target="-blank">
                    <div class="e-filing">E-Filing</div>
                    <div class="img"><img src="../../../../assets/img/taxfiling/it.png" style="width: 125px;" alt="PT">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>